<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" type="image/ico" href="img/favicon.ico">
        <link rel="stylesheet" type= text/css href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" type= text/css href="css/index.css">
        <title>IMPACT.com</title>
    </head>
    <!-- HEAD -->
    <body>
        <header>
            <img src="img/logo.png" class="logo">
            <nav>
                <ul class="nav-area">
                    <li><a href="/">Home</a></li>
                    <li><a href="/NASA">NASA</a></li>
                    <li><a href="pages/Astrowiki.html">AstroWiki</li>
                    <li><a href="pages/About.html">About</a></li>
                </ul>
            </nav>
            <a href="/" class="btn-area">BACK</a>
        </header>
        <section>
                <div class="row">
                    <div class="column left">
                        <iframe width="100%" height= "400px" src="https://www.youtube.com/embed/21X5lGlDOfg?autoplay=1" title="YouTube video player" 
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    <div class="column right">
                        <pre id="messages" style="height: 70%; overflow: scroll ; background-color: white; padding:2%"></pre>
                        <input type="text" id="messageBox" placeholder="Type your message here" style="display: block; width: 100%; margin-bottom: 10px; padding: 10px;"></input>
                        <button id="send" title="Send Message!" style="width: 100%; height: 30px;">Send Message</button>
                    </div>
                </div>

                <% if(logged){ %>
                <div class="row" style="margin-top:20px">
                    <div class="column left"><a class="btn-area" href='/NASATV?calendar=list'>mostra eventi attivi del tuo Google Calendar</a>
                        <br><br>
                        <%if(lista){ %>
                            <div class="event-wrapper">
                                <% for(elem in lista){%>
                                <div class="evento">
                                    <h3 id="titolo"><%= lista[elem].titolo %></h3>
                                    <text id="data"><%= lista[elem].time %></text>
                                    <p id="descrizione"><%= lista[elem].descrizione %></p>
                                </div>
                            <% } %>
                            </div>
                        <% } %>
                    </div> 
                    <div class="colum right">
                        <form action="/NASATV" method="GET" class="myForm">
                            <input type="hidden" name="calendar" value="event"></input>
                            <h3>Ti Piace un programma delle NASA? Inserisci un evento sul tuo Google Calendar per non perdertelo!! </h3><br>
                            <input name="summary" placeholder="inserisci titolo"style="margin:5px;"></input><br>
                            <label style="margin:10px;">Inserisci data inizio evento</label><br>
                            <input type="datetime-local" name="data_inizio" placeholder="inserisci data inizio"></input><br>
                            <label style="margin:10px;">Inserisci data fine evento</label><br>
                            <input type="datetime-local" name="data_fine"placeholder="inserisci data fine"></input><br>
                            <input style="margin:20px;"name="descrizione" placeholder="inserisci descrizione"></input><br>
                            <button style="margin:10px;" type="submit" class="btn-area">INSERISCI</button> 
                        </form>
                        <% if(added){ %>
                            <text style="color:green;display:flex;justify-content:center;text-align: center;">evento inserito con successo ✔</text>
                        <% } %>
                    </div>
                </div>
                <% } %>
                <script src="js/WSchat.js" type="text/javascript"></script>
        </section>
        
        <footer>For info please contact us at : gianfelice.1851260@studenti.uniroma1.it  or  fosci.18XXXXX@studenti.uniroma1.it</footer>
    </body>
</html>